.below-div {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 1rem;
  width: 75%;
  height: 49px;

}

.shops {
  font-family: "Roboto", sans-serif;
  color: #14b1f0;
  font-size: 18px;
  font-weight: 400;
  
 
}
.items {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 18px;
 margin-right: 2rem;
  
 
}
