.main-top-bar{
    width:100%;
    margin-bottom:14px;
    background-color: #0E3B3E;
    display: flex;
    flex-direction: row;
   
    
}
.hamburger-menu{
  margin-left: 2rem;
    color:white;
}
.menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul{
    display: inline-block;
   
  }
  .menu-items li {
    margin-right: 20px;
   
  }

  li a{
   
    color:white;
    text-decoration: none;
  }